[Unit]
Description=Greekleaks

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:latest
DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE

NoNewPrivileges=true
ReadOnly=true
UserNS=auto

Volume=/var/local/greekleaks/config:/etc/caddy:ro
Volume=/var/local/greekleaks/site:/usr/share/caddy:ro
Volume=caddy_data:/data
Volume=caddy_config:/config

PublishPort=80:80
PublishPort=443:443

AutoUpdate=registry

[Service]
Restart=always
