:root {
    --text-color: #ffffff;
    --bg-color: #2d3d4c;
    --link-color: #ffcc4e;
    --font: Arial, sans-serif;
    --text-fontsize: 18px;
}

* {
    box-sizing: border-box;
    font: inherit;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--text-fontsize);
    line-height: 1.5;

    scroll-behavior: smooth;
    scroll-padding: 150px;
}

/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-size: var(--text-fontsize);
}

strong, b{
    font-weight: bold;
}

/* Code block styling */
.code-block {
    background-color: #f6f8fa;
    color: #24292e;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    font-family: monospace;
    padding: 4px 3px;
    margin: 10px 0;
    font-size: 85%;
}

.code-block code {
    min-width: 100%;
    word-wrap: break-word;
}

/* Envelope styling */
.envelope {
    font-family: 'Courier New', monospace;
    font-size: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f8fa;
    color: #24292e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    margin-bottom: 10px;
}

/* Signal number styling */
.signal-number {
    background-color: #f6f8fa;
    color: #24292e;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    font-family: monospace;
    padding: 4px 3px;
    margin: 10px 0;
    font-size: 85%;
    /*text-align: center;*/
}

/* Header styles */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #2d3d4c;
}

body > header > .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

.logo img {
    max-width: 180px;

}

a {
    color: var(--link-color);
    /*color: currentColor;*/
    text-decoration: underline;
    text-underline-offset: 2px;
}


.icon-nav a > img{
    filter: brightness(3);
}

.icon-nav a:hover > img{
    filter: none;
}

.lang-menu a{
    text-decoration: none;
}
.lang-menu span{
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Hamburger menu styles */

.menu-toggle{
    display: none;
    background: none;
    border: none;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-menu span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 2px;
}

.menu{
    display: none;
}
.menu-toggle:focus{
    /*pointer-events: none;*/
}
.menu-toggle:focus~.menu{
    /*display: block;*/
}


[popover]:popover-open + .menu-toggle > .hamburger-menu > span:nth-child(1) {
    rotate: 45deg;
    transform-origin: center;
    transform: translateY(5px);
}
[popover]:popover-open + .menu-toggle > .hamburger-menu > span:nth-child(2) {
    rotate: 135deg;
    transform-origin: center;
    transform: translateY(6px);
}
[popover]:popover-open + .menu-toggle > .hamburger-menu > span:nth-child(3),
[popover]:popover-open + .menu-toggle > .hamburger-menu > span:nth-child(4){
    display: none;
}

/*.menu-toggle:focus > .hamburger-menu > span:nth-child(1) {
    rotate: 45deg;
    transform-origin: center;
    transform: translateY(5px);
}
.menu-toggle:focus > .hamburger-menu > span:nth-child(2) {
    rotate: 135deg;
    transform-origin: center;
    transform: translateY(5px);
}
.menu-toggle:focus > .hamburger-menu > span:nth-child(3),
.menu-toggle:focus > .hamburger-menu > span:nth-child(4){
    display: none;
}*/

/* Main body styles */
main {
    color: white;
    padding: 20px;
    width: 100%;
    /*max-width: 600px; !* Adjust this value as per your preference *!*/
    margin: 20px auto 20px; /* Adjust top and bottom margins as needed */
}

.container{
    max-width: 1200px; /* Adjust this value as per your preference */
    margin-inline: auto;
    padding-block: 20px;
}

section > .container{
    max-width: 600px;
}

section {
    margin-bottom: 20px;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
section + section{
    border-top: 1px solid rgba(239,236,225,0.1);
}

section.intro{
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}
section.intro > .container{
    max-width: 800px;
}
section.intro header{
    background: url(../img/greekleaks-cta.png) no-repeat center;
    background-size: min(100%, 575px) auto;
    width: 100%;
    max-height: 424px;
    aspect-ratio: 319 / 235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 25px;
}




.intro h1, .intro h2{
    color: white;
    font-weight: 700;
    text-shadow: 0 3px 6px #00000081;
}

.intro h1{
    font-size: 26px;
    line-height: 1.14;

}
.intro h2{
    font-size: 18px;
    line-height: 1.19;
}


h1 {
    font-weight: bold;
    color: #ffcc4e;
}

h2 {
    font-weight: bold;
    margin-bottom: 2.75%;
}

p {
    margin-bottom: 10px;
}

.icon-nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    gap: 25px;
    align-items: center;
}

.icon-nav img{
    height: 45px;
    width: auto;
}

section header img{
    margin-inline: auto;
    display: block;
    margin-block: 1em;
    height: 45px;
    width: auto;
}

.icon-nav img.icon-taxidromio,
section header img.icon-taxidromio{
    height: 36px;
}


/* Footer styles */
footer {
    background-color: #2d3d4c;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
}

footer .logo-greekleaks {
    max-width: 185px;
}
footer .logo-ru {
    max-width: 80px;
}


/* Collapsible styles */
.collapsible {
    background-color: #25333f;
    color: white;
    width: 100%;
    /*margin: 20px;*/
}
.collapsible+.collapsible{
    margin-top: 1em;
}





.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    /*margin-bottom: 2.75%;*/
}

.collapsible-header:after{
    content: '▼';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 14px;
    line-height: 18px;
    /*padding: 1px 1px 0 0;*/
    rotate: 0deg;
    transition: rotate 0.5s;
    text-align: center;
}

details[open] .collapsible-header:after{
    rotate: 180deg;
}

.menu-container{
    flex: 1;
}

.menu-container .collapsible-header:after{
    display: none;
}

/*.collapsible-icon {*/
/*    font-size: 1.5em;            */
/*    content: '\e04c';*/
/*    display: block;*/
/*}*/

.collapsible-title {
    font-weight: bold;
}

.collapsible-content {
    padding: 0 20px 20px;
    text-align: left;
}

.collapsible-content ul{
    margin: 0;
    padding-left: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;

    max-width: 1200px;
    margin-inline: auto;
}

.grid--cols2{
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 60px;
}

ul.social-links{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    margin-bottom: 1em;
}

.social-links a span{
    /*display: none;*/
}


.menu-toggle{
    display: block;
    margin-left: auto;
}


.nav-links {
    /*display: flex;*/

    /*gap: 15px;*/
    /*align-items: center;*/
    list-style: none;

    /*position: relative;*/
    background: transparent;
    /*border: none;*/
    color: white;

    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.nav-links li{
    display: block;
    text-align: center;

    font-size: 0.875rem;
    font-weight: 400;

    padding: 8px;
}


.nav-links a {
    /*margin-left: 15px;*/
    color: var(--text-color);
    text-decoration: none;
}
.nav-links a span{
    white-space: nowrap;
}

.nav-links a:hover{
    color: var(--link-color);
}



#main-menu[popover], .menu{
    /*margin: 100px 20px 0 auto;*/
    margin: 100px 20px 0 20px;
    width: calc(100% - 40px);
    padding: 20px;


    border: none;
    border-top: 1px solid #efece1;
    background-color: var(--bg-color);

    /*position: absolute;*/
    left: 0;
    top: 0;
}


/* Media queries for responsive design */
@media only screen and (min-width: 960px) {
    /* For full screen devices */
    /*.container {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    align-items: flex-start;*/
    /*}*/

    /*.container .collapsible {*/
    /*    width: calc(50% - 40px);*/
    /*}*/
    .menu-toggle{
        display: none;
    }

    #main-menu[popover], .menu{
        display: block;
        position: relative;
        margin: 0 0 0 auto;
        padding: 0;
        text-align: right;

        border: none;
        /*background-color: var(--bg-color);*/
    }




    .nav-links{
        border: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .nav-links li{
        display: inline-block;
    }

    section.intro{
        margin-top: 50px;
    }

    .intro h1{
        font-size: 42px;
    }
    .intro h2{
        font-size: 26px;
    }

    .lang-menu{
        /*margin-left: 25px;*/
        margin-left: 5px;
    }

    .menu-container .collapsible-header{
        display: none;
    }

}


/* Media queries for responsiveness */
@media (max-width: 600px) {

    /*
    .nav-links:target{
        display: flex;
    }
    */

    .grid--cols2 {
        grid-template-columns: 1fr;
    }

    .icon-nav img,
    .icon-nav img.icon-taxidromio,
    section header img.icon-taxidromio{
        height: auto;
        width: auto;
    }

}



